Flask==2.0.1
Flask-SQLAlchemy==2.5.1
Flask-Login==0.6.1
Flask-mail==0.9.1
pandas==1.2.4
SQLAlchemy @ file:///tmp/build/80754af9/sqlalchemy_1620708155358/work
Werkzeug==2.0.1
python-dotenv
pygraphviz
matplotlib
matplotlib-inline
pytest
coverage
build
setuptools
setuptools_scm
