Flask>=2.0.1
Flask-SQLAlchemy>=2.0.0
Flask-Login>=0.6.0
Flask-mail==0.9.1
Flask-migrate==3.1.0
pandas
SQLAlchemy>=2.0.0
Werkzeug
python-dotenv
pygraphviz
matplotlib
matplotlib-inline
pytest
coverage
build
setuptools
setuptools_scm
gunicorn

