{% extends 'base.html' %}

{% block pagescripts %}
<script>
  $(function() {
    $( "#help_accordion" ).accordion();
  })
</script>
{% endblock %}

{% block content %}
<h1>About Tournee</h1>

<h2>There is more and more detailed information
<a href="https://jswelling.github.io/BayesTourney/">here</a>.</h2>

<div id="help_accordion">
<h3>What's this?</h3>
<div>
  <p>
    The goal here is to let you run an unusual kind of tournament.  It's
    very free-form, with people fighting whoever they want- more like a
    fighting practice than a standard list.  As the bouts proceed, they
    get entered into this program.  As results get entered, the list
    person can use the program to assign scores to entrants.  At some
    point, one of the entrants will emerge as unambiguously "the best".
  </p>
  <p>
    We're all familiar with odds ratios.  We might say "this person has
    four-to-one odds of beating that person", which would mean that out
    of five bouts, we'd expect the first entrant to win four and the
    other entrant to win one, on average.  What the program does is
    to look at the results of the actual bouts of the tournament and
    estimate what odds ratios would have produced those results. It's
    easy for two people, but it's a lot trickier for ten people. Also,
    on any given day there is some randomness to the outcomes of the
    bouts. Our four-to-one person might only win 3 out of 5, or might
    win all 5.  So when the program calculates the odds ratios, it gives
    ranges. "The odds ratio for this bout was somewhere between 3-to-1
    and 5-to-1", for example.  When it says someone is winning, it takes
    that randomness into account.  
  </p>
  <p>
    Let's talk a moment about odds ratios where there are more than two
    entrants. Suppose there are 3, and person A has an odds ratio of
    4-to-1 to beat person B.  Suppose person A has an odds ratio of
    2-to-1 (or equivalently 4-to-2) to beat person C.  If person B has
    odds of 2-to-1 to beat person C, that makes a consistent set of
    scores for all three: person A has score 4, person B has score 1,
    and person C has score 2.  To get the odds ratio for any given bout,
    combine those scores: 4-to-1 for A vs. B, 4-to-2 for A vs. C, and
    2-to-1 for C vs B.  These scores are what the program is actually
    estimating. Of course, it doesn't have to work out so
    neatly, and that's where the randomn chance of "what happens today"
    comes in.  The program's job is to figure out what the likely values
    of those scores are.  This amounts to estimating the <em>probability
      distributions</em> of the scores.
  </p>
  <p>
    There are a couple of things that can go wrong with this process.
    First, someone may win <b>all</b> their bouts, or conversely may
    lose all of them. The program can't work with that, because it looks
    like that person is infinitely good, or infinitely not-good.  The
    solution there is to ask them to fight some more fights in the hopes
    that one or a few will turn out differently.  In the worst case, you
    can tell the program to just ignore one of the entrants.
  </p>
  <p>
    The other thing that can go wrong is that two (or more!) entrants
    are so close together in skill that it's impossible to tell who is
    better.  They keep fighting against each other, and the score keeps
    shifting back and forth between them.  In a normal tournament one of
    them would just happen to win the single all-important bout by
    luck.  Here, well, you'll have to decide how to pick a winner when
    the actual math says that neither is better than the other.  Maybe
    just hold a "finals" and declare whoever wins that bout the winner.
  </p>
</div>
<h3>How To Run A Tournament</h3>
<div>
  Here are the steps:
  <ul>
    <li>Create a tournament by adding it to the Tournaments page.
      You'll need to give it a unique name, like "My Strange Tournament"
      or "Practice 9/5/2021".  You can also enter a comment if you like.
    </li>
    <li>Find some people to participate.  People can join and leave
      the tournament at any time, but if they arrive late it can take
      time to figure out if they are winning, so late arrivals will make
      your tournament run long.
    </li>
    <li>
      Enter their names on the Entrants page.  If you set the
      Tournament at the top of the Entrants page to 'All', you can see
      if they already exist in the database.  If so, don't re-enter
      them; their scores for this new tournament will be kept
      separate.  The 'Tournament' on the Entrants page does not have
      to be set to your new tournament in order to enter names.
      You're just letting the program know that people with these
      names exist.
    </li>
    <li>
      Tell them each to pick an opponent and go fight each other.
      Anyone can fight anyone and it's not necessary for everyone to
      fight everyone.  If A fights B and B fights C, the program can
      make guesses about the relative strength of A and C even if they
      never fight each other directly.  Tell them to fight several
      times, like between 3 and 10 passes.
    </li>
    <li>
      When each pair finishes, they should come back to you and give
      you their numbers of wins, losses, and draws.  You then enter
      those on the Bouts page.
    </li>
    <li>
      Once some bouts have been entered for your tournament, you can
      to to the Horserace page, select your tournament, and click
      'Go!'.  The program will estimate the odds with the data it has,
      and give you some information about who might be winning and who
      is probably in the top three.  As more bouts get added this
      information will get more precise.  Since the program can't
      estimate a score for someone who has won every bout or lost
      every bout, you may need to temporarily un-check the 'Include'
      checkbox for that entrant before clicking 'Go!'.
    </li>
    <li>
      Keep adding bouts until the program can estimate a winner, or
      until you have a good sense that two or more are so close that
      you have to have a run-off between them.  To start to get good
      results, everyone will have to fight at least 10 passes total,
      hopefully with several different opponents.
    </li>
  </ul>
  That's it!
  </p>
</div>
<h3>Loading and Saving Tournaments</h3>
<div>
  <p>
  If you run a tournament, you may want to save a copy.  The copy will
  get saved as a spreadsheet in ".tsv" format.  You'll actually end up
  with two spreadsheets, one for the names of the entrants and one for
  the bouts that make up the tourney.  Once you have those two files,
  you can load them into a separate copy of the program by first
  loading the sheet of entrants, and then loading the sheet of bouts.
  To save a tournament, do the following:
  <ol>
    <li>Go to the Entrants page, select your tournament, and click
      "Download Entrants".  This will give you a spreadsheet with the
      entrants' names.
    </li>
    <li>Go to the Bouts page, select your tourname, and click
    "Download Bouts".  This will give you a spreadsheet with the
      information from the bouts that make up your tournament.
    </li>
  </ol>
  Note that you don't have to save the 'Horserace' results
  specifically.  Given the Entrants and Bouts information, the program
  can recompute the Horserace.
  </p>
  <p>
    If you want, once you have downloaded your tournament, you can
    delete it by selecting the tournament name and clicking 'Delete'
    on the Tournaments page.  This will remove all the Bouts
    information from the tournament and forget the tournament's name.
    It's not normally necessary to delete the entrants, since they may
    be involved in other tournaments at some point.
  </p>
  <p>
    To reload your saved tournaments, do the following:
    <ol>
      <li>On the Tournaments page, create a unique name for the
	tournament you are loading.  This doesn't have to be the same as
	the name the tournament had originally.
      </li>
      <li>
	On the Entrants page, upload your file of entrants with the
	"Upload Entrants" button.  It doesn't matter if some of the
	entrants already exist in the database; those will just be
	skipped over when the new entrants are added.
      </li>
      <li>
	On the Bouts page, upload your file of bouts with the "Upload
	Bouts" button.  You will be prompted for the name of the
	tournament to associate with these bouts.  Chose the name you
	just created on the Tournaments page.
      </li>
    </ol>
    That will reload your tournament.  If you like, go to the
    Horserace page and click 'Go!' to recalculate the horserace results.
  </p>
</div>
<h3>Examples</h3>
<div>
  This section contains links for various example tournaments.  
  <p>
  The following few examples have the same set of entrants fighting
  tournies with random pairings, with very different numbers of
  bouts.
  <table class="table table-sm">
    <thead class="thead-light">
      <tr><th>How many bouts?</th><th>Data link</th></tr>
    </thead>
    <tbody>
      <tr><td>40</td>
	<td><a href="{{ url_for('static',
		     filename='examples/long_tourney_40.tsv') }}">
	    long_tourney_40.tsv
	  </a>
	</td>
      </tr>
      <tr><td>80</td>
	<td><a href="{{ url_for('static',
		     filename='examples/long_tourney_80.tsv') }}">
	    long_tourney_80.tsv
	  </a>
	</td>
      </tr>
      <tr><td>120</td>
	<td><a href="{{ url_for('static',
		     filename='examples/long_tourney_120.tsv') }}">
	    long_tourney_120.tsv
	  </a>
	</td>
      </tr>
      <tr><td>400</td>
	<td><a href="{{ url_for('static',
		     filename='examples/long_tourney_400.tsv') }}">
	    long_tourney_400.tsv
	  </a>
	</td>
      </tr>
      <tr><td>4000</td>
	<td><a href="{{ url_for('static',
		     filename='examples/long_tourney_4000.tsv') }}">
	    long_tourney_4000.tsv
	  </a>
	</td>
      </tr>
      <tr><td>40000</td>
	<td><a href="{{ url_for('static',
		     filename='examples/long_tourney_40000.tsv') }}">
	    long_tourney_40000.tsv
	  </a>
	</td>
      </tr>
      <thead>
	<tr>
	  <th>The Entrants</th>
	  <th><a href="{{ url_for('static',
		       filename='examples/long_tourney_entrants.tsv')
		       }}"
		 class="link-primary">
	      long_tourney_entrants.tsv
	    </a>
	  </th>
	</tr>
      </thead>
    </tbody>
  </table>
  
</div>
<h3>Editing Tips For The Tables</h3>
<div>
  <p>
    For most tables, you can add or remove entries using the buttons
    at the top of the table.  To edit an individual entry, look for a 'gear'
    icon at the far right of the table row.  Clicking on that icon will
    bring up a dialog box where you can change the individual elements
    of the row, or other characteristics of the thing the row represents.
    For example, the 'gear' icon for a tournament will let you change the
    permissions for the tournament and how the tournament is scored.  If
    you want your changes to take effect, remember
    to click 'Save' when you exit that dialog box!
  </p>
  <p>
    There is no 'gear' button for the Horserace table, because everything shown
    there is calculated from other table entries.
  </p>
</div>
</div>

{% endblock %}
