{% macro nav_link(endpoint, name) %}
{% if request.endpoint.endswith(endpoint) %}
<li class="nav-item" aria-current="page"><a href="{{ url_for(endpoint) }}" class="nav-link active">{{name}}</a></li>
{% else %}
<li class="nav-item"><a href="{{ url_for(endpoint) }}" class="nav-link">{{name}}</a></li>
{% endif %}
{% endmacro %}

{% macro upload_dialog_script(key) %}
  var options = {
    dataType : 'json',
    success: function (responseJSON, statusText, xhr, $form) {
      if (responseJSON["status"] != "success") {
	if (responseJSON["msg"] == undefined) {
	  alert("The server reported a problem but did not provide a message");
	} else {
	  alert("The server reported a problem: " + responseJSON["msg"]);
	}
      }
      $("#upload_{{ key }}_dialog").dialog("close");
      $("#{{ key }}_table").trigger('reloadGrid',{ fromServer: true });
      lastsel_{{ key }}=null;
    },
    error: function( response ) {
      alert(response.statusText + ' : ' + response.responseText);
    },
    resetForm: true
  };
  $("#upload_{{ key }}_form").submit(function() {
    $(this).ajaxSubmit(options);
    return false;
  });
  $( "#upload_{{ key }}_dialog" ).dialog({
    autoOpen: false,
    height: 400,
    width: 350,
    modal: true,
    open: function() {
      $("#dlg_{{ key }}_msg_span").hide();
    },
    buttons: [
      {
        text: "Upload",
	click: function() {
	  if ( $("#upload_{{ key }}_file").val() ) {
	    if ($("#upload_{{ key }}_form").find("#sel_upload_tournament").length) {
	      var selval = $("#upload_{{ key }}_form").find("#sel_upload_tournament").val(); 
	      if ( selval | 0 == selval && selval < 0) {
		$("#dlg_{{ key }}_msg_span").text("Select a tournament for the data you are uploading");
	      } else {
		$("#upload_{{ key }}_form").submit();
	      }
	    } else {
	      $("#upload_{{ key }}_form").submit();
	    }
	  } else {
	    $("#dlg_{{ key }}_msg_span").text("No file selected.").show();
	  }
	},
	type: "submit",
	form: "upload_{{ key }}_form"
	},
      {
	text: "Cancel",
	click: function() {
	  $("#upload_{{ key }}_dialog").dialog( "close" );
	  }
      	}
    ]
  });
{% endmacro %}

{% macro upload_dialog_content(key, title, endpoint, msg, include_tourney_sel) %}
  <div id="upload_{{ key }}_dialog" title="{{ title }}">
    <h1>{{ title }}</h1>
    <form id="upload_{{ key }}_form"
          method=post
	  action="{{ endpoint }}">
      <input type=file name=file id="upload_{{ key }}_file">
      {% if include_tourney_sel == "true" %}
      <label for="sel_upload_tournament">Which Tournament?</label>
      <select id="sel_upload_tournament" name="tournament">
	<option value=-1>-none-</option>
	{% for id, name in tourneyDict | dictsort %}
	<option value={{id}}>{{name}}</option>
	{% endfor %}
      </select>
      {% endif %}
    </form>
    {{ msg }}
    <br>
    <span id="dlg_{{ key }}_msg_span"
	  class="alert alert-warning" role="alert"></span>
  </div>
{% endmacro %}

{% macro updown_button_script_preamble(key) %}
{% endmacro %}

{% macro updown_button_script(key, download_endpoint, sel_fun_name) %}
  $("#download_{{ key }}_button").click( function() {
    var url = "{{ download_endpoint }}?" + {{ sel_fun_name }}();
    $("#download_{{ key }}_link").attr('href', url);
    $("#download_{{ key }}_link")[0].click();
  });
  $("#upload_{{ key }}_button").click( function() {
    $("#upload_{{ key }}_dialog").dialog( "open" );
  });
  {{ upload_dialog_script(key) }}
{% endmacro %}

{% macro updown_button_content(key, label,
  upload_dlg_title, upload_endpoint, download_endpoint,
  upload_dlg_msg, include_tourney_sel="false") %}
  <input type="BUTTON" id="upload_{{ key }}_button"
	 value="Upload {{ label }}">
  <div id="download_{{ key }}_div">
    <button id="download_{{ key }}_button">Download {{ label }}</button>
    <a id="download_{{ key }}_link" href="{{ download_endpoint }}"></a>
  </div>

  </div id="junk_div"></div>
  {{ upload_dialog_content(key, upload_dlg_title,
       upload_endpoint, upload_dlg_msg, include_tourney_sel) }}  
{% endmacro %}

{% macro jqgrid_boilerplate() %}
    datatype: "json",
    rowNum:10,
    rowList:[5,10,20,30],
    pager: true,
    sortorder: "desc",
    guiStyle: "bootstrap",
    iconSet: "fontAwesome",
    cmTemplate: { autoResizable: true },
    autoresizeOnLoad: true,
    loadonce: true,
    loadError: function (jqXHR, textStatus, errorThrown) {
        alert('HTTP status code: ' + jqXHR.status + '' +
              'textStatus: ' + textStatus + ' ' +
              'errorThrown: ' + errorThrown);
        alert('HTTP message body (jqXHR.responseText): '
	    + ' ' + jqXHR.responseText);
    },
    reloadGridOptions: { fromServer: true, reloadAfterSubmit: true }  
{% endmacro %}

{% macro sel_tournaments(id) %}
  <label for="{{ id }}">Which Tournament?</label>
  <select id="{{ id }}">
    <option value="-1"
    {% if sel_tourney_id == -1 %} selected {% endif %}
    >All</option>
    {% for id, name in tourneyDict | dictsort %}
    <option value="{{id}}"
    {% if sel_tourney_id == id %} selected {% endif %}
    >{{name}}</option>
    {% endfor %}
  </select>
{% endmacro %}

{% macro sel_tournaments_no_all(id) %}
  <label for="{{ id }}">Which Tournament?</label>
  <select id="{{ id }}">
    {% for id, name in tourneyDict | dictsort %}
    <option value="{{id}}"
    {% if sel_tourney_id == id %} selected {% endif %}
    >{{name}}</option>
    {% endfor %}
  </select>
{% endmacro %}

{% macro settings_ajax_interaction_chain(endpoint, data_for_get_fun_name, after_save_fun_name, msg_string) %}
        let data_for_get = {{data_for_get_fun_name}} ();
	$.ajax({type:'GET',
		url: "{{ endpoint }}",
		data: data_for_get
	       })
	  .fail(function(jqXHR, textStatus, errorThrown) {
	    alert("The server did not respond as expected to the request for data on {{msg_string}}.");
	    console.log('failure jqXHR: ', jqXHR);
	    console.log('failure textStatus: ', textStatus);
	    console.log('failure thrown: ', errorThrown)
	  })
	  .done(function(data, textStatus, jqXHR) {
	    if (data['status'] == 'success') {
	      let this_div = $('<div />');
	      this_div.html(data['value']['dlg_html']).dialog({
		buttons: {
		  "Cancel": function() {
		    $(this).dialog("close");
		    this_div.remove();
		  },
		  "Save": function() {
		    let form_data = $('#' + data['value']['form_name']).serializeArray();
		    for (const [key, value] of Object.entries(data_for_get)) {
		      form_data.push({'name':key, 'value':value});
		    }
		    $(this).dialog("close");
		    $.ajax({
		      type:'PUT',
		      url: "{{ endpoint }}",
		      data:form_data
		    })
		      .fail(function(jqXHR, textStatus, errorThrown) {
			alert("The server did not respond as expected to the update request for {{msg_string}}.");
			console.log('failure jqXHR: ', jqXHR);
			console.log('failure textStatus: ', textStatus);
			console.log('failure thrown: ', errorThrown)
		      })
		      .done(function(data, textStatus, jqXHR) {
			if (data['status'] == 'success') {
			  {{ after_save_fun_name }}();
			}
			else if (data['status'] == 'confirm') {
			  let this_confirm_div = $('<div title="Confirmation Required"/>');
			  this_confirm_div.html(data['msg']).dialog({
			    buttons: {
			      "Cancel": function() {
				$(this).dialog("close");
				this_confirm_div.remove();
			      },
			      "Confirm": function() {
				$(this).dialog("close");
				form_data.push({'name': 'confirm', 'value': 'true'});
				$.ajax({
				  type:'PUT',
				  url: "{{endpoint}}",
				  data:form_data
				})
				  .fail(function(jqXHR, textStatus, errorThrown) {
				    alert("The server did not respond as expected to the update request for {{msg_string}}.");
				    console.log('failure jqXHR: ', jqXHR);
				    console.log('failure textStatus: ', textStatus);
				    console.log('failure thrown: ', errorThrown)
				  })
				  .done(function(data, textStatus, jqXHR) {
				    if (data['status'] == 'success') {
				      {{ after_save_fun_name }} ();
				    }
				    else {
				      if (data['msg']) {
					alert(data['msg'])
				      }
				      else {
					alert("The server did not report success in response to the update of {{msg_string}}.")
				      }
				      console.log('non-success data:', data)
				    }
				  })
				  .always(function() {
				    this_confirm_div.remove();
				  })
			      }
			    }
			  });
			}
			else {
			  if (data['msg']) {
			    alert(data['msg'])
			  }
			  else {
			    alert("The server did not report success in response to the update of {{msg_string}}.")
			  }
			  console.log('non-success data:', data)
			}
		      })
		      .always(function() {
			this_div.remove();
		      })
		  }
		}
	      })
	    }
	    else {
	      if (data['msg']) {
		alert(data['msg'])
	      }
	      else {
		alert("The server did not report success in response to the request for {{msg_string}}.")
	      }
	      console.log(data);
	    }
	  })
{% endmacro %}
