{% extends 'base.html' %}

{% from "macros.html" import bearpit_scoring_content with context %}
{% from "macros.html" import horserace_scoring_content with context %}

{% block pagescripts %}
<script>
  $( function() {
    $( "#settings_accordion" ).accordion();
    $( "input[type='radio']" ).checkboxradio()
      .change(function() {
	var name = this.name;
	var id = this.id;
	$.ajax({
	  type: 'PUT',
	  url: 'ajax/settings',
	  data: {id: id, name: name}
	}).done(function(data, textStatus, jqXHR) {
	  if (data['status'] != "success") {
	    if (data['msg'] == undefined) {
	      alert('The server failed to save this update');
	    }
	    else {
	      alert('The server failed to save this update: ' + data['msg']);
	    }
	    window.location.reload();
	  }
	})
	  .fail(function(jqXHR, textStatus, errorThrown) {
	    alert('An error occurred: ' + errorThrown);
	    window.location.reload();
	  })
      });
  });
</script>
{% endblock %}

{% block content %}
<h1>Settings</h1>

<div id="settings_accordion">
  <h2>Account Settings</h2>
  <div>
    <a href="auth/change_password">Change your password</a>
    <br>
    <a href="auth/change_email">Change your email address</a>
  </div>

  <h2>Default Bearpit Scoring</h2>
  <div>
    These rules will apply when you first create a tournament.
    {{ bearpit_scoring_content() }}
  </div>

  <h2>Default Horserace (Bayes) Scoring</h2>
  <div>
    These rules will apply when you first create a tournament.
    {{ horserace_scoring_content() }}
  </div>

  <h2>Horserace Graph Style</h2>
  <div>
    <fieldset>
      <legend>Select a graph: </legend>
      <label for="hr_graph_style_box">Box plot</label>
      <input type="radio" name="hr_graph_style" id="hr_graph_style_box"
	     {% if hr_graph_style == "hr_graph_style_box" %} checked {% endif %}
	     >
      <br>
      <label for="hr_graph_style_violin">Violin plot</label>
      <input type="radio" name="hr_graph_style" id="hr_graph_style_violin"
	     {% if hr_graph_style == "hr_graph_style_violin" %} checked {% endif %}
	     >
    </fieldset>
    
    <fieldset>
      <legend>How should the Y axis of the graph be scaled?: </legend>
      <label for="hr_graph_yscale_linear">Linear</label>
      <input type="radio" name="hr_graph_yscale" id="hr_graph_yscale_linear"
	     {% if hr_graph_yscale == "hr_graph_yscale_linear" %} checked {% endif %}
	     >
      <br>
      <label for="hr_graph_yscale_log">Logarithmic</label>
      <input type="radio" name="hr_graph_yscale" id="hr_graph_yscale_log"
	     {% if hr_graph_yscale == "hr_graph_yscale_log" %} checked {% endif %}
	     >
    </fieldset>
  </div>
</div>
{% endblock %}
