{% extends 'base.html' %}

{% from "macros.html" import jqgrid_boilerplate with context %}

{% block pagescripts %}
<script>
var lastsel_tourneys;
$(function () {
  "use strict";
  function tourneySettingsButtonFormatter(cellvalue, options, rowObject)
  {
    // some business logic for each row
    let rslt = "<button class='trny_settings_btn' style='text-align:center;' id='trny_settings_";
    rslt = rslt.concat(cellvalue);
    rslt = rslt.concat("'><img src='static/gear.svg' style='height:18px;'></img></button>");
    return rslt;
    //return "<button class='btn' style='height:22px;'><img src='static/gear.svg' style='height:10px;'></img></button>";
    //return "<input style='height:22px;' class='ui-icon-gear' type='button' value='clickme'/>";
  }
  jQuery("#tourneys_table").jqGrid({
    url:'json/tourneys',
    editurl:'edit/tourneys',
    colNames:['Id', 'Name', 'Owner', 'Group', 'Notes', 'Settings'],
    colModel:[
      {name:'id',index:'id', width:55, sortable:true, sorttype:'integer'},
      {name:'name',index:'name', width:100, editable:true, edittype:'text', sortable:true},
      {name:'owner', index:'owner', width:100, editable:false, sortable:true},
      {name:'group', index:'group', width:100, editable:false, sortable:true},
      {name:'notes', index:'notes', width:100, editable:true, edittype:'textarea', sortable:true},
      {name:'settings', index:'settings', editable:false, width:100, sortable:false, formatter:tourneySettingsButtonFormatter}
    ],
    onSelectRow: function(id){
      if(id && id!==lastsel_tourneys){
	$(this).jqGrid('saveRow', lastsel_tourneys);
	$(this).jqGrid('editRow', id, true);
	lastsel_tourneys=id;
      }
    },
    gridComplete: function() {
      jQuery(".trny_settings_btn").click(function(event) {
	event.stopPropagation();
	let tourney_id = this.id.substr('trny_settings_'.length);
	$.ajax({type:'GET',
		url:'ajax/tourneys/settings',
		data:{'tourney_id':tourney_id}
	       })
	  .fail(function(jqXHR, textStatus, errorThrown) {
	    alert('The server did not respond as expected to the request for data on this tourney.');
	    console.log('failure jqXHR: ', jqXHR);
	    console.log('failure textStatus: ', textStatus);
	    console.log('failure thrown: ', errorThrown)
	  })
	  .done(function(data, textStatus, jqXHR) {
	    if (data['status'] == 'success') {
	      let this_div = $('<div />');
	      this_div.html(data['value']['dlg_html']).dialog({
		buttons: {
		  "Cancel": function() {
		    $(this).dialog("close");
		    this_div.remove();
		  },
		  "Save": function() {
		    let form_data = $('#' + data['value']['form_name']).serializeArray();
		    form_data.push({'name':'tourney_id', 'value':tourney_id});
		    $(this).dialog("close");
		    $.ajax({
		      type:'PUT',
		      url:'ajax/tourneys/settings',
		      data:form_data
		    })
		      .fail(function(jqXHR, textStatus, errorThrown) {
			alert('The server did not respond as expected to the update request for this tourney.');
			console.log('failure jqXHR: ', jqXHR);
			console.log('failure textStatus: ', textStatus);
			console.log('failure thrown: ', errorThrown)
		      })
		      .done(function(data, textStatus, jqXHR) {
			if (data['status'] == 'success') {
			  $("#tourneys_table").trigger('reloadGrid',{ fromServer: true });
			}
			else if (data['status'] == 'confirm') {
			  //alert('confirm clause' + data['msg']);
			  let this_confirm_div = $('<div title="Confirmation Required"/>');
			  this_confirm_div.html(data['msg']).dialog({
			    buttons: {
			      "Cancel": function() {
				$(this).dialog("close");
				this_confirm_div.remove();
			      },
			      "Confirm": function() {
				$(this).dialog("close");
				form_data.push({'name': 'confirm', 'value': 'true'});
				$.ajax({
				  type:'PUT',
				  url:'ajax/tourneys/settings',
				  data:form_data
				})
				  .fail(function(jqXHR, textStatus, errorThrown) {
				    alert('The server did not respond as expected to the update request for this tourney.');
				    console.log('failure jqXHR: ', jqXHR);
				    console.log('failure textStatus: ', textStatus);
				    console.log('failure thrown: ', errorThrown)
				  })
				  .done(function(data, textStatus, jqXHR) {
				    if (data['status'] == 'success') {
				      $("#tourneys_table").trigger('reloadGrid',{ fromServer: true });
				    }
				    else {
				      if (data['msg']) {
					alert(data['msg'])
				      }
				      else {
					alert('The server did not report success in response to the update of tourney data.')
				      }
				      console.log('non-success data:', data)
				    }
				  })
				  .always(function() {
				    this_confirm_div.remove();
				  })
			      }
			    }
			  });
			}
			else {
			  if (data['msg']) {
			    alert(data['msg'])
			  }
			  else {
			    alert('The server did not report success in response to the update of tourney data.')
			  }
			  console.log('non-success data:', data)
			}
		      })
		      .always(function() {
			this_div.remove();
		      })
		  }
		}
	      })
	    }
	    else {
	      if (data['msg']) {
		alert(data['msg'])
	      }
	      else {
		alert('The server did not report success in response to the request for tourney data.')
	      }
	      console.log(data);
	    }
	  })
      });
    },
    sortname: 'id',
    caption:"Tourneys",
    {{ jqgrid_boilerplate() }}
  });
  jQuery("#add_tourney_button").click( function() {
    $("#tourneys_table").jqGrid('editGridRow', "new",
				{closeAfterAdd: true, reloadAfterSubmit: true});
  });
  jQuery("#del_tourney_button").click( function() {
    jQuery("#tourneys_table").jqGrid('delGridRow',lastsel_tourneys,
				     {msg:"Are you sure you want to delete this tournament and all the associated bouts?"});
    lastsel_tourneys=null;
  });
  jQuery("#reload_tourney_button").click( function() {
    $("#tourneys_table").trigger('reloadGrid',{ fromServer: true });
    lastsel_tourneys=null;
  });

});
</script>
{% endblock %}

{% block content %}
<h1>Known Tournaments</h1>

<table id="tourneys_table"></table>

<input type="BUTTON" id="add_tourney_button" value="New Tourney">
<input type="BUTTON" id="del_tourney_button" value="Delete Selected Tourney">
<input type="BUTTON" id="reload_tourney_button" value="Reload">
{% endblock %}

