{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Change Your Password{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="old_password">Current Password</label>
    <input type="password" name="old_password" id="old_password" required>
    <label for="new_password">New Password</label>
    <input type="password" name="new_password" id="new_password" required>
    <label for="verify_new_password">Verify New Password</label>
    <input type="password" name="verify_new_password" id="verify_new_password" required>
    <input type="submit" value="Change Password">
  </form>
{% endblock %}
