{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Log In{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="email">Email</label>
    <input name="email" id="email" required>
    <label for="password">Password</label>
    <input type="password" name="password" id="password" required>
    <br>
    <input type="checkbox" name="remember_me" id="remember_me">
    <label for="remember_me">Remember me between sessions</label>
    <br>
    If you don't have an account, you can
    <a href='register'>Register</a>.
    <br>
    <input type="submit" value="Log In">
  </form>
{% endblock %}

